<!-- author ben lawson balawson@bu.edu -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS, make the page look better and formated -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- name of the tab -->
    
    <title>Image with comments</title>


</head>
<!-- navigation bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <!-- navigation bar options  -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        
    </div>
</nav>



<body>
    <h1> {{ message }}</h1>
    <br>
    
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0][1]).decode("ascii") }}' width="50%" height="50%" />
    <p> photo by user {{ user_i }}</p>
    <br>
    
    <h4> Add comments: </h4>
    <!-- the function to add comments -->
    <div>
        <!-- for inserting comments -->
        <form method="post" action="{{ url_for('insert_comment') }}" class="center">
            <label for="inscom">Enter comment:</label>
            <input type="text" name="inscom" required="required" /><br />

            
            <input type="hidden" name="user_id" value="{{ cuid }}"> 

            
            <input type="hidden" name="photo_id" value="{{ photo_id }}">

            <input type="hidden" name="owner" value="{{ owner }}">
           
            <p>Comments button:</p>
            <input type="submit" class="center"/>
        </form>

        <!-- for liking photos -->
        <form method="POST" action="{{ url_for('like_photo') }}" class="center">
            <input type="hidden" name="photo_id" value="{{ photo_id }}"> <br>
            <p>Likes button:</p>
            <input type="submit" class="center">

        </form>

    </div>



</body>




<!-- dark mode for the web page -->
<style>
    body {
        /* making the background to the specific color in hex */
        background-color: #212121;
        color: White;

    }
    h1 {
  text-align: center;
    }
    .center {
  margin: auto;
  width: 50%;
  
  padding: 10px;
}
</style>