<!-- author ben lawson balawson@bu.edu -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS, make the page look better and formated -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- name of the tab -->
    
    <title>Create an account!</title>


</head>
<!-- navigation bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <!-- navigation bar options  -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>


        </ul>
    </div>
</nav>



{%if not supress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}

<body>
    <div class="cetner">
        <h1>Enter your information below</h1>
    </div>
    <div id="content" class="center">
        <form method="post" action="{{ url_for('register_user') }}" class="center">
            <label for="fst_name">Enter your first name:</label>
            <input type='text' for="fstname" required="required" ><br>

            <label for="lst_name">Entere you last name:</label>
            <input type="text" for="lst_name" required="required"><br>

            <label for="email">Enter your email:</label>
            <input type="email" name="email"required="required" ><br />

            <label for="date_of_birth">Enter your date of birth</label>
            <input type="date" for="data_of_birth" required="required" ><br>

            <label for="hometown">Enter your hometown:</label>
            <input type='text' for="hometown" required="required" > <br>
            
            <label for="gender">Enter your gender:</label>
            <input type='text' for="gender" required="required"> <br>

            <label for="password">Enter password:</label>
            <input type="password" name="password" required="required" ><br />

            <input type="submit" class="center"/>
        </form>
    </div>
</body>




<!-- dark mode for the web page -->
<style>
    body {
        /* making the background to the specific color in hex */
        background-color: #212121;
        color: White;

    }
    h1 {
  text-align: center;
    }
    .center {
  margin: auto;
  width: 50%;
  
  padding: 10px;
}
</style>